<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      {{#each breadcrumb}}
        <a href="{{path}}">{{title}}</a>
      {{/each}}
    </header>
    <div id="content">
      {{{content}}}
    </div>
  </body>
</html>
